body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: auto;
}
.flex-item{
    display: flex;
}
.btn{
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(orange, red);
    padding: 10px 15px;
    border-radius: 10px;
}
#banner-area{
    background: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
    text-align: right;
}
.half-width h1{
    font-size: 50px;
    font-weight: 600;
}
.half-width p{
    padding-bottom: 20px;
}
#banner-area h1 span{
    color: orange;
}

#dream-section{
    background: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-text{
    margin-left: 30px;
}